{% extends 'base.html' %}

{% block body %}
<!-- горизонтальная регуляция -->
<div class="row d-flex justify-content-center">
	<!-- вертикальная регуляция -->
	<div class="col-8 p-1 bd-highlight d-grid gap-1" id="mainCol" style="margin: auto;">

        <h6>Общие положения</h6>
        <p>Сайт представляет собой онлайн-версию фольклорного архива, созданного в результате экспедиций, проводимых Учебно-научной лабораторией фольклористики Института филологии и истории Российского государственного гуманитарного университета силами студентов РГГУ под руководством проф. А.Б.Мороза. Экспедиции проводятся начиная с 1993 г. и по настоящее время и исследуют традиционную культуру в селах и городах Архангельской области.</p>
        <p>Основной принцип работы экспедиции — опрос значительного числа жителей по 27 <a href="{{ url_for('program_page') }}">программам-опросникам</a>, разработанным специально для этой цели и затрагивающим основные сферы традиционной народной культуры.</p>
        <p>Расшифровки интервью делятся на фрагменты в соответствии с вопросом программы-опросника. Каждый фрагмент снабжается метаописанием: указывается место и год записи, шифры собирателя и информанта, номер программы и вопроса. В дальнейшем фрагменты интервью, размещаемые в архиве, размечаются <a href="{{ url_for('keyword_page') }}">тегами</a>, помогающими осуществлять поиск информации по всему архиву.</p>
        <p>Ввиду того, что над проектом работало множество участников, имеющих очень разную степень подготовки и ввиду того, что правила расшифровки в течение времени заметно менялись, тексты в разных записях могут быть оформлены по-разному, с большим или меньшим вниманием к фонетике говора. Кроме того, у нас нет возможности отдать материалы на профессиональную корректуру, потому в записях неизбежно будут встречаться орфографические и пунктуационные ошибки и опечатки. Наконец, важно понимать, что в наших материалах возможны ошибки, связанные с недостаточно точным пониманием услышанного расшифровщиком. Мы стараемся избегать ошибок и исправлять те, которые заметили, но объем материала не позволяет сделать это в полной мере.</p>
        <p>По правилам нашей экспедиции, аудиозаписи расшифровываются непосредственно в поле. С 1993 по 2011 гг. эти расшифровки делались полностью или частично на бумаге, с 2012 г. – непосредственно в компьютеры. По этой причине представленные на сайте материалы полностью охватывают результаты экспедиций с 2012 г. и лишь частично – с 1993 по 2011 гг. Рукописные материалы постоянно набираются, размечаются и пополняют онлайн-архив, но этот процесс долгий и трудоемкий, довести его до конца в ближайшее время не удастся.</p>

        <h6>Структура сайта</h6>
        <p>На сайте имеется четыре вкладки: Архив, Поиск, Ключевые слова и Программы</p>
        <p>Страница Архив содержит краткое описание материала – географию и тематику публикуемых данных. По нажатию на название района открывается выборка всех имеющихся на сайте материалов, записанных в этом районе. По нажатию на название программы открывается выборка всех имеющихся на сайте материалов, записанных на соответствующую тему.</p>
        <p>На странице Поиск пользователь может составить поисковый запрос. При необходимости полнотекстового поиска (по слову или фразе) необходимо ввести искомый текст. Если ввести в строку поиска несколько слов, поиск будет осуществляться по принципу «или – или», для поиска всего словосочетания, необходимо взять его в кавычки.</p>
        <p>Вкладка Метаданные на странице поиска позволяет составить запрос по номеру, году записи, шифру информанта и собирателя. Для этого необходимо в соответствующей строке ввести или выбрать из выпадающего списка искомое. </p>
        <p>Вкладка Тематика на странице поиска позволяет составить запрос по опроснику и конкретному вопросу. Для этого необходимо в соответствующей строке ввести или выбрать из выпадающего списка искомое. </p>
        <p>Вкладка Геоданные на странице поиска позволяет составить запрос по месту записи или жительства информанта, а также отобрать все записи, сделанные в указанном административном районе. </p>
        <p>На странице Ключевые слова приводится список ключевых слов, которыми размечены размещенные на сайте записи. Для просмотра списка следует кликнуть на соответствующую букву – откроется список слов, начинающихся с этой буквы.</p>
        <p>На странице Программы размещены тексты опросников, которыми пользовались участники экспедиций и в соответствии с которыми маркированы отдельные записи в архиве.</p>

        <h6>Поиск и отбор карточек</h6>
        <p>Для задания условий отбора карточек используется страница Поиск.</p>
        <p>Условия отбора можно задать выбирая соответствующие значения на в строке полнотекстового поиска или используя вкладки Метаданные, Тематика, Геоданные. Возможно использование как одной так и нескольких вкладок. В строке ввода ключевых слов возможно ввести несколько.</p>
        <p>После составления запроса следует нажать кнопку «Поиск»</p>
        
        <h6>Просмотр выборки</h6>
        <p>После отбора карточек откроется страница с фрагментами записей и указанием на номер записи. Вверху и внизу страницы будет указано количество записей, там же кнопка перехода на следующую страницу.</p>
        <p>Открыть полный текст каждой записи в новом окне можно нажав на кнопку с номером записи.</p>
        <p>Экспорт выборки осуществляется нажатием на кнопку «Скачать подкорпус» внизу страницы выдачи. По нажатии откроется окно для сохранения файла в формате .txt</p>

        <h6>Для цитирования.</h6>
        <p>При цитировании материалов архива рекомендуется использовать следующий тип ссылки:</p>
        <p>АЛФ*+ номер записи.</p>
        <p>*Для сноски или расшифровки сокращения: Архив Лаборатории фольклористики РГГУ (www.north-folklore.ru)</p>

		<!--<h6>Поиск</h6>-->
		<!--<p>Для поиска по базе данных перейдите на страницу "поиск".-->
		<!--	<ul>-->
		<!--		<li>Для фильтрации результатов по категориям нажмите на кнопку "метаданные", "тематика" или "геоданные". Выберите необходимые опции во всплывающем окне. Закройте всплывающее окно и нажмите на кнопку поиска.</li>-->
		<!--		<li>Для поиска по тексту вводите слова в строку поиска, затем нажмите на кнопку поиска. При поиске по нескольким словам вводите их через один пробел.</li>-->
		<!--	</ul>-->
		<!--</p>-->
		<h6>Поддержка</h6>
		<p>По вопросам о работе сайта вы можете обратиться по адресам:
			<ul>
				<li>ruthenian8@gmail.com</li>
				<li>https://t.me/ruthenian8</li>
			</ul>
		</p>
	</div>	
</div>
{% endblock %}