{% extends 'base.html' %}

{% block body %}
<!-- горизонтальная регуляция -->
<div class="row d-flex justify-content-center">
	<!-- вертикальная регуляция -->
	<div class="col-8 p-1 bd-highlight d-grid gap-1" id="mainCol" style="margin: auto;">
		<h6>Поиск</h6>
		<p>Для поиска по базе данных перейдите на страницу "поиск".
			<ul>
				<li>Для фильтрации результатов по категориям нажмите на кнопку "метаданные", "тематика" или "геоданные". Выберите необходимые опции во всплывающем окне. Закройте всплывающее окно и нажмите на кнопку поиска.</li>
				<li>Для поиска по тексту вводите слова в строку поиска, затем нажмите на кнопку поиска. При поиске по нескольким словам вводите их через один пробел.</li>
			</ul>
		</p>
		<h6>Поддержка</h6>
		<p>По вопросам о работе сайта вы можете обратиться по адресам:
			<ul>
				<li>ruthenian8@gmail.com</li>
				<li>https://t.me/ruthenian8</li>
			</ul>
		</p>
	</div>	
</div>
{% endblock %}