{% extends 'base.html' %}

{% block body %}

<!-- ../static/js/search.js -->
<div id="overlay"></div>
<div id="srcdiv">
	<div id="formdiv">
		<form id="srcform" method="POST">
			<div id="FTdiv">
			<label id="FTlabel" for="FTsearch">Поиск&nbsp;по&nbsp;тексту:</label>
			<input id="FTsearch" type="text" name="FT" value="{{ FT }}">
			<button id="FTbutton" class="button">Ввод</button>
			<div id="FTtip" class="tip FT-tip"></div>		
			</div>
			<div id="boxdiv">
				<div class="inpwrap">
					<div id="idbox" class="inpbox">
						<p class="annot">Id текста</p>
					</div>
					<button id="idfull" class="srcbtn button">Выбрать</button>
					<div id="idtip" class="tip regular-tip"></div>
				</div>
				<div class="inpwrap">
					<div id="kwbox" class="inpbox">
						<p class="annot">Ключевые слова</p>
					</div>
					<button id="kwfull" class="srcbtn button">Выбрать</button>
					<div id="kwtip" class="tip regular-tip"></div>
				</div>
				<div class="inpwrap">
					<div id="qlbox" class="inpbox">
						<p class="annot">Опросник</p>
					</div>
					<button id="qlfull" class="srcbtn button">Выбрать</button>
					<div id="qltip" class="tip regular-tip"></div>
				</div>
				<div class="inpwrap">
					<div id="qbox" class="inpbox">
						<p class="annot">Вопрос</p>
					</div>
					<button id="qfull" class="srcbtn button">Выбрать</button>
					<div id="qtip" class="tip regular-tip"></div>
				</div>
				<div class="inpwrap">
					<div id="ybox" class="inpbox">
						<p class="annot">Год записи</p>
					</div>
					<button id="yfull" class="srcbtn button">Выбрать</button>
					<div id="ytip" class="tip regular-tip"></div>
				</div>
				<div class="inpwrap">
					<div id="raybox" class="inpbox">
						<p class="annot">Район записи</p>
					</div>
					<button id="rayfull" class="srcbtn button">Выбрать</button>
					<div id="raytip" class="tip regular-tip"></div>
				</div>	
				<div class="inpwrap">
					<div id="VTbox" class="inpbox">
						<p class="annot">Место записи текста</p>
					</div>
					<button id="VTfull" act	class="srcbtn button">Выбрать</button>
					<div id="VTtip" class="tip regular-tip"></div>
				</div>	
				<div class="inpwrap">
					<div id="VIbox" class="inpbox">
						<p class="annot">Место жительства информанта</p>
					</div>
					<button id="VIfull" class="srcbtn button">Выбрать</button>
					<div id="VItip" class="tip regular-tip"></div>
				</div>
			</div>
			<div id="idpop" class="popup">
				<button class="closebtn">_</button>
				<div class="formwrap tagsinput">
					<label for="idfield" class="plabel">Номер записи</label><br />
					<input 
						id="idfield" 
						type="text" 
						name="id" 
						class="pform tag-input ui-autocomplete-input"
						data-selected="{{ id }}"
						style="display: block;"
					/>						
				</div>			
			</div>
			<div id="kwpop" class="popup">
				<button class="closebtn">_</button>
				<div class="formwrap">
					<label for="kwfield tagsinput" class="plabel">Ключевые слова</label>
					<input 
						id="kwfield" 
						type="text" 
						name="keywords" 
						class="pform tags tag-input ui-autocomplete-input"
						data-selected="{{ keywords }}"
					/>						
				</div>
			</div>
			<div id="qlpop" class="popup">
				<button class="closebtn">_</button>
				<div class="formwrap">
					
					<fieldset 
						id="qlfield" 
						name="q_list" 
						class="pform sing"
						data-selected="{{ q_list }}">
						<legend>
							<label for="qlfield" class="plabel">Опросник</label>
						</legend>
					</fieldset>						
				</div>				
			</div>
			<div id="qpop" class="popup">
				<button class="closebtn">_</button>
				<div class="formwrap">
					<label for="qfield" class="plabel">Вопрос</label>
					<select 
						id="qfield" 
						name="questions" 
						class="pform mult" 
						data-selected="{{ questions }}">
					</select>						
				</div>				
			</div>			
			<div id="ypop" class="popup">
				<button class="closebtn">_</button>
				<div class="formwrap">
					<label for="yfield" class="plabel">Год записи</label>
					<select 
						id="yfield" 
						name="year" 
						class="pform mult" 
						data-selected="{{ year }}">
					</select>					
				</div>		
			</div>
			<div id="raypop" class="popup">
				<button class="closebtn">_</button>
				<div class="formwrap">
					<fieldset 
						id="rayfield" 
						name="ray" 
						class="pform sing" 
						data-selected="{{ ray }}">
					<legend>
						<label for="rayfield" class="plabel">Район</label>
					</legend>
					</fieldset>					
				</div>						
			</div>
			<div id="vilpop" class="popup">
				<button class="closebtn">_</button>
				<div class="formwrap">
					<label for="VTfield" class="plabel">Место записи текста</label>
					<select 
						id="VTfield" 
						name="vill_txt" 
						class="pform mult" 
						data-selected="{{ vill_txt }}">
					</select>					
				</div>				
			</div>	
			<div id="vilinfpop" class="popup">
				<button class="closebtn">_</button>
				<div class="formwrap">
					<label for="VIfield" class="plabel">Место жительства информанта</label>
					<select 
						id="VIfield" 
						name="vill_inf" 
						class="pform mult" 
						data-selected="{{ vill_inf }}">
					</select>							
				</div>					
			</div>									
			<div id="commitbts">
				<button id="cancel" class="firebtn button">Сброс</button>
				<button id="launch" class="firebtn button">Поиск</button>
			</div>			
		</form>
	</div>
	<div id="resultdiv">
		{% if found is string %}
			<div>
				<p>{{found}}</p>
			</div>
		{% else %}
			{% for item in found %}
				<div>
					<article>
						{{ item.text }}
					</article>
				</div>				
			{% endfor %}
		{% endif %}
	</div>
</div>

<link rel="stylesheet" type="text/css" href="../static/css/search.css" />
<script type="text/javascript" src="{{ url_for('static', filename='js/native/search.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/native/jquery.tagsinput-revisited.js') }}"></script>
<link rel="stylesheet" href="../static/css/jquery.tagsinput-revisited.css" />
{% endblock %}