{% extends 'base.html' %}

{% block body %}
<!-- горизонтальная регуляция -->
<div class="row d-flex justify-content-center">
	<!-- вертикальная регуляция -->
	<div class="col-11 p-1 bd-highlight d-grid gap-2" id="mainCol" style="margin: auto;">
<!-- ../static/js/search.js -->
<!-- <div id="srcdiv" class="d-grid gap-3"> -->
	<div id="formdiv">
		<form id="srcform" method="GET">
			<!-- fulltext search input -->
			<div id="FTdiv" class="d-grid gap-3" style="margin: auto; margin-bottom: 1rem;">
				<input id="FTsearch" class="form-control me-2" placeholder="Поиск&nbsp;по&nbsp;тексту:" type="search" aria-label="search" name="FT" value="{{ context.FT|e }}">
			<!-- form submission button -->
				<div id="commitbts" class="d-md-flex" style="padding: 0;">
					<button id="launch" class="btn btn-primary" type="submit">Поиск</button>
				</div>
			</div>

			<!-- metadata modal toggle -->
			<div class="modal fade" id="metadataModalToggle" aria-hidden="true" aria-labelledby="modalHeader1" tabindex="-1">
				<div class="modal-dialog modal-dialog-centered modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h6 class="modal-title" id="modalHeader1">Метаданные</h6>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="formwrap mb-3 tagsinput">
								<!-- <label for="idfield" class="plabel">Номер записи: </label> -->
								<input
									id="idfield"
									type="text"
									name="id"
									placeholder="Номер записи:"
									class="pform tag-input ui-autocomplete-input form-control"
									data-selected="{{ context.id }}"
									style="display: block;"
								/>
							</div>
							<div class="formwrap mb-3">
								<label for="yfield" class="plabel">Год записи</label>
								<select
									id="yfield"
									name="year"
									class="pform mult form-select"
									data-selected="{{ context.year }}">
								</select>
							</div>
							<div class="formwrap mb-3">
								<label for="inffield" class="plabel">Информант</label>
								<select
									id="inffield"
									name="inf"
									class="pform mult form-select"
									data-selected="{{ context.inf }}">
								</select>
							</div>
							<div class="formwrap mb-3">
								<label for="sobfield" class="plabel">Собиратель</label>
								<select
									id="sobfield"
									name="sob"
									class="pform mult form-select"
									data-selected="{{ context.sob }}">
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- theme modal toggle -->
			<div class="modal fade" id="themeModalToggle" aria-hidden="true" aria-labelledby="modalHeader2" tabindex="-1">
				<div class="modal-dialog modal-dialog-centered modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h6 class="modal-title" id="modalHeader2">Тематика</h6>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="formwrap mb-3">
								<label for="kwfield tagsinput" class="plabel">Ключевые слова: </label>
								<input
									id="kwfield"
									type="text"
									name="keywords"
									class="pform tags tag-input ui-autocomplete-input form-control"
									data-selected="{{ context.keywords }}"
								/>
							</div>
							<div class="formwrap mb-3">
								<label for="qlfield" class="plabel">Опросник</label>
								<select
									id="qlfield"
									name="q_list"
									class="pform form-select"
									data-selected="{{ context.q_list }}">
								</select>
							</div>
							<div class="formwrap mb-3">
								<label for="qfield" class="plabel">Вопрос</label>
								<select
									id="qfield"
									name="questions"
									class="pform form-select"
									data-selected="{{ context.questions }}">
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- place forms modal toggle -->
			<div class="modal fade" id="placeModalToggle" aria-hidden="true" aria-labelledby="modalHeader3" tabindex="-1">
				<div class="modal-dialog modal-dialog-centered modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h6 class="modal-title" id="modalHeader3">Место записи</h6>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="formwrap mb-3">
								<label for="rayfield" class="plabel">Район</label>
								<select
									id="rayfield"
									name="ray"
									class="pform form-select"
									data-selected="{{ context.ray }}">
								</select>
							</div>
							<div class="formwrap mb-3">
								<label for="VTfield" class="plabel">Место записи текста</label>
								<select
									id="VTfield"
									name="vill_txt"
									class="pform form-select"
									data-selected="{{ context.vill_txt }}">
								</select>
							</div>
							<div class="formwrap mb-3">
								<label for="VIfield" class="plabel">Место жительства информанта</label>
								<select
									id="VIfield"
									name="vill_inf"
									class="pform mult form-select"
									data-selected="{{ context.vill_inf }}">
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="col-sm-12 card" style="background-color: transparent;">
			<div class="btn-group card-body justify-content-center" role="group" aria-label="Basic outlined example">
				<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#metadataModalToggle">Метаданные</button>
				<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#themeModalToggle">Тематика</button>
				<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#placeModalToggle">Геоданные</button>
			</div>
		</div>
	</div>

	<!-- results section -->
	<div id="resultdiv" class="row">
		<div class="col-sm-12">
			<!-- display message if nothing is found -->
			{% if context.found is string %}
				<div class="card">
					<div class="card-body">{{context.found}}</div>
				</div>
			{% else %}
				<!-- pagination + results if search is successful -->
				<nav aria-label="Search navigation">
					<ul class="pagination justify-content-center">
						<li class="page-item disabled"><strong class="page-link">Записей: {{ context.found.total }}</strong></li>
						<li class="page-item"><a class="page-link" {% if context.found.page != 1 %}
						href="{{ url_for('search', page=context.found.prev_num) }}
						{% for key, value in context.items() %}
							{% if value and key != 'found' and key != 'page' %}
							&{{key}}={{value}}
							{% endif %}
						{% endfor %}"
						{% endif %}>&laquo;</a></li>
					{% for pn in context.found.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
						{% if pn %}
							{% if context.found.page == pn %}
								<li class="page-item disabled"><strong class="page-link">{{ pn }}</strong></li>
							{% else %}
								<li class="page-item"><a class="page-link" href="{{ url_for('search', page=pn) }}
								{% for key, value in context.items() %}
									{% if value and key != 'found' and key != 'page' %}
									&{{key}}={{value}}
									{% endif %}
								{% endfor %}">{{ pn }}</a></li>
							{% endif %}
						{% else %}
							<li class="page-item disabled"><span class="page-link">...</span></li>
						{% endif %}
					{% endfor %}
						<li class="page-item"><a class="page-link"
						{% if context.found.page != context.found.pages %}
						href="{{ url_for('search', page=context.found.next_num) }}
						{% for key, value in context.items() %}
							{% if value and key != 'found' and key != 'page' %}
							&{{key}}={{value}}
							{% endif %}
						{% endfor %}"
						{% endif %}>&raquo;</a></li>
					</ul>
				</nav>
				<!-- iteration over found items; links to texts as buttons -->
				{% for item in context.found.items %}
				<div class="card">
					<div class="card-body">
						<p class="card-text"><h6 style="display:inline;">{{ loop.index }}</h6> {{ item.text|truncate(500, False) }}</p>
						<a class="btn btn-primary" href="{{ url_for('text', idx=item.id) }}">Запись № {{ item.id }}</a>
					</div>
				</div>
				{% endfor %}

				<!-- DOWNLOAD BUTTON -->
				<div class="card">
					<div class="card-body">
					<a class="btn btn-primary" href="{{ url_for('search', page=context.found.page, download='True') }}
					{% for key, value in context.items() %}
						{% if value and key != 'found' and key != 'page' %}
						&{{key}}={{value}}
						{% endif %}
					{% endfor %}">Скачать подкорпус</a>
					</div>
				</div>
				<!-- DOWNLOAD BUTTON -->
				<br/>
				<!-- SECOND PAGINATION WIDGET -->
				<nav aria-label="Second pagination widget">
					<ul class="pagination justify-content-center">
						<li class="page-item disabled"><strong class="page-link">Записей: {{ context.found.total }}</strong></li>
						<li class="page-item"><a class="page-link" {% if context.found.page != 1 %}
						href="{{ url_for('search', page=context.found.prev_num) }}
						{% for key, value in context.items() %}
							{% if value and key != 'found' and key != 'page' %}
							&{{key}}={{value}}
							{% endif %}
						{% endfor %}"
						{% endif %}>&laquo;</a></li>
					{% for pn in context.found.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
						{% if pn %}
							{% if context.found.page == pn %}
								<li class="page-item disabled"><strong class="page-link">{{ pn }}</strong></li>
							{% else %}
								<li class="page-item"><a class="page-link" href="{{ url_for('search', page=pn) }}
								{% for key, value in context.items() %}
									{% if value and key != 'found' and key != 'page' %}
									&{{key}}={{value}}
									{% endif %}
								{% endfor %}">{{ pn }}</a></li>
							{% endif %}
						{% else %}
							<li class="page-item disabled"><span class="page-link">...</span></li>
						{% endif %}
					{% endfor %}
						<li class="page-item"><a class="page-link"
						{% if context.found.page != context.found.pages %}
						href="{{ url_for('search', page=context.found.next_num) }}
						{% for key, value in context.items() %}
							{% if value and key != 'found' and key != 'page' %}
							&{{key}}={{value}}
							{% endif %}
						{% endfor %}"
						{% endif %}>&raquo;</a></li>
					</ul>
				</nav>
				<!-- /SECOND PAGINATION WIDGET -->
			{% endif %}
		</div>
	</div>
<!-- </div> -->
	</div>
</div>

<!-- <link rel="stylesheet" type="text/css" href="../static/css/search.css" /> -->
<style type="text/css">
.ui-autocomplete {
	z-index: 1100;
}
</style>
<script type="text/javascript" src="{{ url_for('static', filename='js/native/search.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/native/jquery.tagsinput-revisited.js') }}"></script>
<link rel="stylesheet" href="../static/css/jquery.tagsinput-revisited.css" />
{% endblock %}